In [ ]:
#General 

#Buidling an ETL Data Pipeline

#Step 1: Extract from CSV file into a Pandas Dataframe
#Step 2: Transform the data( clean the data) - Deal with missing and duplicate data 
#Step 3:Create a database
#Step: Load the clean data into the database

import pandas as pd
import psycopg2 # For comectimg python to postresql database
from sqlalchemy import create_engine # To efficiently manage and reuse the database connections

data = pd.read_csv("Softwork.csv")
data.head()

In [ ]:
data.duplicated().sum()

In [ ]:
#Remove duplicate records
data.drop_duplicates(keep='first', inplace=True)
data.duplicated().sum()

In [ ]:
data.duplicated().sum()

In [ ]:
# Explore missing data
data.isnull().sum()

In [ ]:
data[data['education'].isnull()].head()

In [ ]:
# Deal with missing data
data['education'].fillna('unknown', inplace=True)
data['previous_year_rating'].fillna(0, inplace=True)

In [ ]:
data.isnull().sum()

In [ ]:
#Create a database - PGAdmin and create a database table
#Database Credentials 
username = 'postgres'
password = 'lana'
host = 'localhost'
port = 5432
db_name = 'postgres'

In [ ]:
# Extablish a connection
engine = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{db_name}')

In [ ]:
# Load the database table  - employee_table
data.to_sql('employee_table', engine, if_exists='replace',index=False)

#Close
engine.dispose()